In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [4]:
file_path ='/Users/kostis/02582-Computational-Data-Analysis-Case-2/data/HR_data.csv'

df = pd.read_csv(file_path)
display(f"Successfully loaded {file_path}")
display(f"Shape of the dataframe: {df.shape}")

'Successfully loaded /Users/kostis/02582-Computational-Data-Analysis-Case-2/data/HR_data.csv'

'Shape of the dataframe: (312, 68)'

In [ ]:
# Display first 5 rows
display("First 5 rows of the data:")
display(df.head())

'First 5 rows of the data:'

,Unnamed: 0,HR_TD_Mean,HR_TD_Median,HR_TD_std,HR_TD_Min,HR_TD_Max,HR_TD_AUC,HR_TD_Kurtosis,HR_TD_Skew,HR_TD_Slope_min,...,upset,hostile,alert,ashamed,inspired,nervous,attentive,afraid,active,determined
0,0,78.663878,76.70,7.480043,67.25,92.48,23048.450,-1.091448,0.369955,-0.7300,...,1.0,1.0,2.0,1.0,2.0,2.0,3.0,1.0,2.0,2.0
1,1,76.540732,76.61,2.584756,69.82,82.33,23959.920,-0.245338,0.338732,-0.3600,...,2.0,1.0,3.0,2.0,2.0,2.0,3.0,1.0,3.0,3.0
2,2,78.173563,77.92,2.681255,72.22,82.80,20324.605,-0.615922,-0.233047,-0.6300,...,1.0,1.0,2.0,1.0,3.0,2.0,3.0,2.0,3.0,3.0
3,3,83.073688,83.88,7.363598,69.42,96.12,24924.300,-0.866610,-0.046021,-0.4650,...,1.0,1.0,2.0,1.0,3.0,2.0,3.0,2.0,3.0,3.0
4,4,72.281250,72.91,3.193762,64.95,79.98,23052.100,0.200401,-0.560948,-0.3725,...,3.0,1.0,3.0,2.0,3.0,3.0,4.0,2.0,4.0,4.0

In [ ]:
# Display DataFrame Info
display("\\nDataframe Info:")
# Increase max_rows display temporarily if needed to see all columns
pd.set_option('display.max_rows', None)
df.info()
pd.reset_option('display.max_rows') # Reset display option

'\\nDataframe Info:'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 68 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           312 non-null    int64
 1   HR_TD_Mean           312 non-null    float64
 2   HR_TD_Median         312 non-null    float64
 3   HR_TD_std            312 non-null    float64
 4   HR_TD_Min            312 non-null    float64
 5   HR_TD_Max            312 non-null    float64
 6   HR_TD_AUC            312 non-null    float64
 7   HR_TD_Kurtosis       312 non-null    float64
 8   HR_TD_Skew           312 non-null    float64
 9   HR_TD_Slope_min      312 non-null    float64
 10  HR_TD_Slope_max      312 non-null    float64
 11  HR_TD_Slope_mean     312 non-null    float64
 12  HR_TD_Slope          312 non-null    float64
 13  TEMP_TD_Mean         312 non-null    float64
 14  TEMP_TD_Median       312 non-null    float64
 15  TEMP_TD_std          312 non-null    float64
 16  TEMP_TD_Min          312 non-null    float64
 17  TEMP_TD_Max          312 non-null    float64
 18  TEMP_TD_AUC          312 non-null    float64
 19  TEMP_TD_Kurtosis     312 non-null    float64
 20  TEMP_TD_Skew         312 non-null    float64
 21  TEMP_TD_Slope_min    312 non-null    float64
 22  TEMP_TD_Slope_max    312 non-null    float64
 23  TEMP_TD_Slope_mean   312 non-null    float64
 24  TEMP_TD_Slope        312 non-null    float64
 25  EDA_TD_P_Mean        312 non-null    float64
 26  EDA_TD_P_Median      312 non-null    float64
 27  EDA_TD_P_std         312 non-null    float64
 28  EDA_TD_P_Min         312 non-null    float64
 29  EDA_TD_P_Max         312 non-null    float64
 30  EDA_TD_P_AUC         312 non-null    float64
 31  EDA_TD_P_Kurtosis    312 non-null    float64
 32  EDA_TD_P_Skew        312 non-null    float64
 33  EDA_TD_P_Slope_min   312 non-null    float64
 34  EDA_TD_P_Slope_max   312 non-null    float64
 35  EDA_TD_P_Slope_mean  312 non-null    float64
 36  EDA_TD_P_Slope       312 non-null    float64
 37  EDA_TD_T_Mean        312 non-null    float64
 38  EDA_TD_T_Median      312 non-null    float64
 39  EDA_TD_T_std         312 non-null    float64
 40  EDA_TD_T_Min         312 non-null    float64
 41  EDA_TD_T_Max         312 non-null    float64
 42  EDA_TD_T_AUC         312 non-null    float64
 43  EDA_TD_T_Kurtosis    312 non-null    float64
 44  EDA_TD_T_Skew        312 non-null    float64
 45  EDA_TD_T_Slope_min   312 non-null    float64
 46  EDA_TD_T_Slope_max   312 non-null    float64
 47  EDA_TD_T_Slope_mean  312 non-null    float64
 48  EDA_TD_T_Slope       312 non-null    float64
 49  EDA_TD_P_Peaks       312 non-null    int64
 50  EDA_TD_P_RT          311 non-null    float64
 51  EDA_TD_P_ReT         311 non-null    float64
 52  Round                312 non-null    object
 53  Phase                312 non-null    object
 54  Individual           312 non-null    int64
 55  Puzzler              312 non-null    int64
 56  Frustrated           312 non-null    float64
 57  Cohort               312 non-null    object
 58  upset                312 non-null    float64
 59  hostile              312 non-null    float64
 60  alert                312 non-null    float64
 61  ashamed              312 non-null    float64
 62  inspired             310 non-null    float64
 63  nervous              312 non-null    float64
 64  attentive            311 non-null    float64
 65  afraid               311 non-null    float64
 66  active               311 non-null    float64
 67  determined           310 non-null    float64
dtypes: float64(61), int64(4), object(3)
memory usage: 165.9+ KB

In [ ]:
# Display Summary Statistics (Numerical)
display("\\nSummary Statistics (Numerical Columns):")
display(df.describe(include=np.number))

'\\nSummary Statistics (Numerical Columns):'

,Unnamed: 0,HR_TD_Mean,HR_TD_Median,HR_TD_std,HR_TD_Min,HR_TD_Max,HR_TD_AUC,HR_TD_Kurtosis,HR_TD_Skew,HR_TD_Slope_min,...,upset,hostile,alert,ashamed,inspired,nervous,attentive,afraid,active,determined
count,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,...,312.000000,312.000000,312.000000,312.000000,310.000000,312.000000,311.000000,311.000000,311.000000,310.000000
mean,155.500000,78.549974,77.452869,6.545680,68.778365,92.451122,24307.558590,-0.054661,0.375978,-0.567952,...,1.346154,1.057692,2.192308,1.221154,2.183871,1.381410,2.784566,1.051447,2.553055,2.912903
std,90.210864,11.382695,12.093798,4.998885,9.341107,17.759683,4035.278119,1.671170,0.823875,0.391239,...,0.617576,0.271719,1.037034,0.549014,1.027958,0.577199,1.113793,0.273430,1.173463,1.104050
min,0.000000,57.606118,54.130000,0.834390,49.000000,67.200000,14853.260000,-1.644825,-2.230501,-3.366000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,77.750000,71.061238,69.971250,3.160342,62.192500,80.207500,21549.048750,-0.984473,-0.151022,-0.665208,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,2.000000
50%,155.500000,76.784284,75.600000,4.919862,67.565000,87.830000,23650.430000,-0.456978,0.361195,-0.457500,...,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,3.000000,1.000000,2.000000,3.000000
75%,233.250000,83.566296,83.108750,8.006694,73.805000,99.452500,26543.927500,0.216412,0.988498,-0.317500,...,2.000000,1.000000,3.000000,1.000000,3.000000,2.000000,4.000000,1.000000,3.000000,4.000000
max,311.000000,151.942434,167.950000,32.155396,111.070000,172.470000,46069.990000,12.510032,3.225347,-0.112500,...,4.000000,3.000000,5.000000,4.000000,5.000000,3.000000,5.000000,4.000000,5.000000,5.000000

In [ ]:
# Display Summary Statistics (Categorical/Object)
display("\\nSummary Statistics (Object Columns):")
display(df.describe(include='object'))

'\\nSummary Statistics (Object Columns):'

          Round   Phase Cohort
count       312     312    312
unique        4       3      6
top     round_3  phase3   D1_1
freq         78     104     96

In [ ]:
# Display Missing Value Counts
display("\\nMissing Value Counts per Column:")
missing_values = df.isnull().sum()
display(missing_values[missing_values > 0]) # Only show columns with missing values

'\\nMissing Value Counts per Column:'

EDA_TD_P_RT     1
EDA_TD_P_ReT    1
inspired        2
attentive       1
afraid          1
active          1
determined      2
dtype: int64

In [ ]:
# Check for Negative Values
display("\\nMinimum values in numerical columns (checking for non-negativity):")
numeric_cols_check = df.select_dtypes(include=np.number).columns
min_values = df[numeric_cols_check].min()
display(min_values[min_values < 0]) # Show only columns with negative minimum values

'\\nMinimum values in numerical columns (checking for non-negativity):'

HR_TD_Kurtosis           -1.644825
HR_TD_Skew               -2.230501
HR_TD_Slope_min          -3.366000
HR_TD_Slope_mean         -0.230410
HR_TD_Slope              -0.229441
TEMP_TD_Kurtosis         -1.672291
TEMP_TD_Skew             -2.729638
TEMP_TD_Slope_min        -0.004630
TEMP_TD_Slope_max        -0.000360
TEMP_TD_Slope_mean       -0.000953
TEMP_TD_Slope            -0.000889
EDA_TD_P_Min             -1.768365
EDA_TD_P_Kurtosis        -0.862496
EDA_TD_P_Skew            -0.518895
EDA_TD_P_Slope_min       -0.351512
EDA_TD_P_Slope_mean      -0.001271
EDA_TD_P_Slope           -0.002187
EDA_TD_T_Mean            -0.898882
EDA_TD_T_Median          -0.854923
EDA_TD_T_Min             -5.783329
EDA_TD_T_AUC          -1119.978146
EDA_TD_T_Kurtosis        -1.716957
EDA_TD_T_Skew            -5.620632
EDA_TD_T_Slope_min       -0.270382
EDA_TD_T_Slope_max       -0.000116
EDA_TD_T_Slope_mean      -0.009898
EDA_TD_T_Slope           -0.009191
dtype: float64

### Step 3: Define Column Types & Select Features

**Explanation:**
Based on the inspection and the case description (`case2_description.pdf`), we need to separate the columns into three groups:
1.  **Metadata/Identifiers:** Columns identifying the trial, participant, phase, etc. (e.g., 'Round', 'Phase', 'Individual', 'Puzzler', 'Cohort'). These are useful for context and interpretation later but are not typically included directly in the unsupervised decomposition.
2.  **Response Variables:** Self-reported scores (e.g., 'Frustrated', 'alert', 'nervous'). These are target variables for *supervised* analysis (like the third option in `case2_description.pdf`) but should be excluded from the *unsupervised* analysis of physiological features.
3.  **Numerical Features:** The remaining numerical columns derived from HR, EDA, and TEMP signals. These are the features we will use for the subspace analysis, as per the instruction to use only the features from `HR_data.csv`.

We'll also drop the `Unnamed: 0` column identified during inspection as it's likely just a row index from saving the CSV. We create separate DataFrames for the features (`df_features`) and metadata (`df_metadata`).

In [ ]:


# --- 1. Drop Unnecessary Index Column ---
# This logic handles potential re-runs of the cell gracefully.
if 'df_processed' not in locals():
     if 'Unnamed: 0' in df.columns:
         df_processed = df.drop(columns=['Unnamed: 0']).copy()
         print("Dropped 'Unnamed: 0' column.")
     else:
         df_processed = df.copy()
         print("'Unnamed: 0' column not found, proceeding.")
else:
    # If df_processed exists, check if column still needs dropping
    if 'Unnamed: 0' in df_processed.columns:
         df_processed = df_processed.drop(columns=['Unnamed: 0'])
         print("Dropped 'Unnamed: 0' column.")
    # else:
         # print("'Unnamed: 0' column already dropped from df_processed.") # Optional

# --- 2. Define Column Types ---
# List known metadata/identifier/categorical columns
metadata_cols = ['Round', 'Phase', 'Individual', 'Puzzler', 'Cohort']

# List known response variable columns
response_cols = ['Frustrated', 'upset', 'hostile', 'alert', 'ashamed',
                 'inspired', 'nervous', 'attentive', 'afraid', 'active',
                 'determined']

# Identify potential feature columns (those not in metadata or response lists)
potential_feature_cols = [col for col in df_processed.columns
                          if col not in metadata_cols and col not in response_cols]

# Select only numeric feature columns from the potential list
numeric_feature_cols = df_processed[potential_feature_cols].select_dtypes(include=np.number).columns.tolist()

print(f"\nIdentified {len(metadata_cols)} metadata columns.")
print(f"Identified {len(response_cols)} response columns.")
print(f"Identified {len(numeric_feature_cols)} numerical feature columns for processing.")
print("-" * 30)

# --- Create Separate DataFrames ---
# Keep metadata for potential later use (e.g., plotting)
existing_metadata_cols = [col for col in metadata_cols if col in df_processed.columns]
df_metadata = df_processed[existing_metadata_cols].copy()
print(f"Created df_metadata with shape: {df_metadata.shape}")

# Create DataFrame with only the numerical features selected
df_features = df_processed[numeric_feature_cols].copy()
print(f"Created df_features with shape: {df_features.shape}")
print("-" * 30)

Dropped 'Unnamed: 0' column.

Identified 5 metadata columns.
Identified 11 response columns.
Identified 51 numerical feature columns for processing.
------------------------------
Created df_metadata with shape: (312, 5)
Created df_features with shape: (312, 51)
------------------------------

lets inspect our new dataframe

In [ ]:
display(df_features.head())

,HR_TD_Mean,HR_TD_Median,HR_TD_std,HR_TD_Min,HR_TD_Max,HR_TD_AUC,HR_TD_Kurtosis,HR_TD_Skew,HR_TD_Slope_min,HR_TD_Slope_max,...,EDA_TD_T_AUC,EDA_TD_T_Kurtosis,EDA_TD_T_Skew,EDA_TD_T_Slope_min,EDA_TD_T_Slope_max,EDA_TD_T_Slope_mean,EDA_TD_T_Slope,EDA_TD_P_Peaks,EDA_TD_P_RT,EDA_TD_P_ReT
0,78.663878,76.70,7.480043,67.25,92.48,23048.450,-1.091448,0.369955,-0.7300,0.9775,...,213.374114,1.345997,-1.379434,-0.000144,0.000138,0.000010,1.036040e-05,11,2.522727,2.075000
1,76.540732,76.61,2.584756,69.82,82.33,23959.920,-0.245338,0.338732,-0.3600,0.1900,...,213.235380,0.887010,0.854067,-0.000146,0.000165,0.000009,7.714503e-06,15,2.214286,2.192308
2,78.173563,77.92,2.681255,72.22,82.80,20324.605,-0.615922,-0.233047,-0.6300,0.3575,...,173.465157,0.205817,0.480581,-0.000112,0.000132,0.000002,1.799914e-06,10,1.972222,2.111111
3,83.073688,83.88,7.363598,69.42,96.12,24924.300,-0.866610,-0.046021,-0.4650,0.6500,...,191.943390,2.488339,1.246665,-0.000455,0.000481,-0.000001,-1.355151e-07,12,1.886364,1.805556
4,72.281250,72.91,3.193762,64.95,79.98,23052.100,0.200401,-0.560948,-0.3725,0.3375,...,192.341180,1.196508,1.592099,-0.000420,0.000334,0.000014,1.267198e-05,20,1.812500,1.926471

### Step 4: Handle Missing Values in Features

**Explanation:**
Our inspection revealed a few missing values in the `EDA_TD_P_RT` and `EDA_TD_P_ReT` columns, which we identified as numerical features for our analysis. Most machine learning algorithms, including decomposition methods, cannot handle missing data directly. We need to fill these gaps. A robust strategy for numerical data is **median imputation**, where missing values in a column are replaced by the median value of that column. Median is often preferred over mean as it's less sensitive to outliers. We will apply this only to the selected `df_features` DataFrame (assuming it was successfully created in Step 3).

In [ ]:
# --- Check for missing values specifically in the selected feature columns ---
missing_in_features = df_features.isnull().sum().sum()

if missing_in_features > 0:
    print(f"Found {missing_in_features} missing value(s) in feature columns. Imputing with median...")

    # Initialize the imputer with the median strategy
    imputer = SimpleImputer(strategy='median')

    # Keep track of column names and index
    feature_index = df_features.index
    feature_columns = df_features.columns

    # Fit the imputer and transform the data
    df_features_imputed_array = imputer.fit_transform(df_features)

    # Convert the result back to a DataFrame
    # Overwrite df_features with the imputed version
    df_features = pd.DataFrame(df_features_imputed_array, index=feature_index, columns=feature_columns)

    print("Missing value imputation complete for features.")
    # Verify there are no more missing values
    print(f"Remaining missing values in features: {df_features.isnull().sum().sum()}")
else:
    # Check if df_features was already imputed in a previous run
    if df_features.isnull().sum().sum() == 0:
        print("No missing values found in selected feature columns (potentially already imputed).")
    else:
         print(f"Missing values check error. Current missing count: {df_features.isnull().sum().sum()}")

print("-" * 30)

Found 2 missing value(s) in feature columns. Imputing with median...
Missing value imputation complete for features.
Remaining missing values in features: 0
------------------------------

### Step 5: Scale Numerical Features

**Explanation:**
Subspace methods like PCA, SPCA, AA, and others are often sensitive to the scale of the features. Features with larger ranges can dominate the analysis, potentially masking the contribution of features with smaller ranges. To prevent this, we scale the features. **Standardization (or Z-score normalization)** is a common and effective method. It rescales each feature to have a mean of 0 and a standard deviation of 1. We apply this to our imputed numerical features (`df_features`) which are now clean of missing values (assuming Step 4 ran correctly).

In [ ]:
print("Applying StandardScaler (Z-score normalization) to features...")
# Initialize the scaler
scaler = StandardScaler()

# Fit the scaler to the feature data and transform it
scaled_features_array = scaler.fit_transform(df_features)

# Create the final DataFrame with scaled features, preserving index and column names
df_features_scaled = pd.DataFrame(scaled_features_array, index=df_features.index, columns=numeric_feature_cols)

print("Feature scaling complete.")
print("-" * 30)

Applying StandardScaler (Z-score normalization) to features...
Feature scaling complete.
------------------------------

### Step 6: Display Preprocessed Results

**Explanation:**
Finally, let's look at the result of our preprocessing. We'll display the first few rows (`head()`) and the summary statistics (`describe()`) of the `df_features_scaled` DataFrame. This confirms that the features are now scaled (mean close to 0, standard deviation close to 1) and ready for the subsequent subspace analysis (like SPCA, AA, or SOM). The metadata remains available in the `df_metadata` DataFrame for later use in interpreting the results. This assumes `df_features_scaled` was created in Step 5.

In [ ]:


# --- Display head of the scaled features ---
print("First 5 rows of the final preprocessed (scaled) features:")
print(df_features_scaled.head())
print("-" * 30)

# --- Display summary statistics of the scaled features ---
# Note: Mean should be ~0 and std dev should be ~1 for all columns
print("Summary statistics of the scaled features:")
# Use .round(3) to make the describe output cleaner
print(df_features_scaled.describe().round(3))
print("-" * 30)

print("Preprocessing finished.")
print("DataFrame 'df_features_scaled' contains the scaled numerical features.")
print("DataFrame 'df_metadata' contains the corresponding metadata.")

First 5 rows of the final preprocessed (scaled) features:
   HR_TD_Mean  HR_TD_Median  HR_TD_std  HR_TD_Min  HR_TD_Max  HR_TD_AUC  \
0    0.010023     -0.062352   0.187214  -0.163880   0.001629  -0.312526
1   -0.176801     -0.069806  -0.793634   0.111690  -0.570809  -0.086288
2   -0.033122      0.038688  -0.774299   0.369032  -0.544302  -0.988619
3    0.398059      0.532294   0.163883   0.068800   0.206917   0.153083
4   -0.551609     -0.376240  -0.671610  -0.410499  -0.703343  -0.311621

   HR_TD_Kurtosis  HR_TD_Skew  HR_TD_Slope_min  HR_TD_Slope_max  ...  \
0       -0.621392   -0.007322        -0.414857         0.978121  ...
1       -0.114281   -0.045281         0.532375        -0.699948  ...
2       -0.336389   -0.740408        -0.158848        -0.343025  ...
3       -0.486637   -0.513035         0.263566         0.280258  ...
4        0.152870   -1.139046         0.500374        -0.385643  ...

   EDA_TD_T_AUC  EDA_TD_T_Kurtosis  EDA_TD_T_Skew  EDA_TD_T_Slope_min  \
0     -0.674626           0.276417      -1.310763            0.595726
1     -0.674647           0.136077       0.945391            0.595677
2     -0.680703          -0.072207       0.568117            0.596330
3     -0.677889           0.625703       1.341971            0.589771
4     -0.677829           0.230709       1.690908            0.590443

   EDA_TD_T_Slope_max  EDA_TD_T_Slope_mean  EDA_TD_T_Slope  EDA_TD_P_Peaks  \
0           -0.667286             0.135978        0.096659       -1.012991
1           -0.666593             0.135187        0.095006       -0.689332
2           -0.667436             0.130645        0.091310       -1.093906
3           -0.658566             0.129049        0.090101       -0.932077
4           -0.662295             0.138101        0.098103       -0.284758

   EDA_TD_P_RT  EDA_TD_P_ReT
0     1.134433      0.099784
1     0.467560      0.290627
2    -0.055798      0.158532
3    -0.241431     -0.338565
4    -0.401129     -0.141853

[5 rows x 51 columns]
------------------------------
Summary statistics of the scaled features:
       HR_TD_Mean  HR_TD_Median  HR_TD_std  HR_TD_Min  HR_TD_Max  HR_TD_AUC  \
count     312.000       312.000    312.000    312.000    312.000    312.000
mean        0.000         0.000      0.000      0.000     -0.000     -0.000
std         1.002         1.002      1.002      1.002      1.002      1.002
min        -1.843        -1.932     -1.144     -2.121     -1.424     -2.347
25%        -0.659        -0.620     -0.678     -0.706     -0.691     -0.685
50%        -0.155        -0.153     -0.326     -0.130     -0.261     -0.163
75%         0.441         0.468      0.293      0.539      0.395      0.555
max         6.458         7.495      5.131      4.535      4.513      5.402

       HR_TD_Kurtosis  HR_TD_Skew  HR_TD_Slope_min  HR_TD_Slope_max  ...  \
count         312.000     312.000          312.000          312.000  ...
mean           -0.000       0.000            0.000            0.000  ...
std             1.002       1.002            1.002            1.002  ...
min            -0.953      -3.169           -7.163           -0.945  ...
25%            -0.557      -0.641           -0.249           -0.482  ...
50%            -0.241      -0.018            0.283           -0.226  ...
75%             0.162       0.745            0.641            0.203  ...
max             7.531       3.464            1.166           12.112  ...

       EDA_TD_T_AUC  EDA_TD_T_Kurtosis  EDA_TD_T_Skew  EDA_TD_T_Slope_min  \
count       312.000            312.000        312.000             312.000
mean          0.000             -0.000         -0.000              -0.000
std           1.002              1.002          1.002               1.002
min          -0.878             -0.660         -5.595              -4.580
25%          -0.584             -0.439         -0.413              -0.137
50%          -0.383             -0.297          0.181               0.470
75%           0.245              0.076          0.603               0.547
max           6.825             10.181          2.780               0.597

       EDA_TD_T_Slope_max  EDA_TD_T_Slope_mean  EDA_TD_T_Slope  \
count             312.000              312.000         312.000
mean                0.000               -0.000           0.000
std                 1.002                1.002           1.002
min                -0.674               -5.972          -5.653
25%                -0.600               -0.318          -0.310
50%                -0.456                0.057           0.041
75%                 0.110                0.189           0.161
max                 5.492                4.849           5.024

       EDA_TD_P_Peaks  EDA_TD_P_RT  EDA_TD_P_ReT
count         312.000      312.000       312.000
mean           -0.000       -0.000        -0.000
std             1.002        1.002         1.002
min            -1.822       -1.617        -1.920
25%            -0.770       -0.671        -0.571
50%            -0.204       -0.176        -0.133
75%             0.605        0.399         0.318
max             4.085        7.369         6.417

[8 rows x 51 columns]
------------------------------
Preprocessing finished.
DataFrame 'df_features_scaled' contains the scaled numerical features.
DataFrame 'df_metadata' contains the corresponding metadata.

### Step 7: Save Preprocessed Data to CSV Files

**Explanation:**
After completing the preprocessing (handling missing values, scaling features, separating metadata), it's useful to save the results. 
1.  `df_features_scaled`: The DataFrame containing only the numerical physiological features, now imputed and standardized.
2.  `df_metadata`: The DataFrame containing the corresponding metadata columns (like Individual, Round, Phase, Cohort).

We save them as separate CSV files. The `index=False` argument prevents pandas from writing the DataFrame index as a column in the CSV file.

In [ ]:

# Define output filenames
scaled_features_filepath = 'HR_features_scaled.csv'
metadata_filepath = 'HR_metadata.csv'

try:
    # Check if the DataFrames exist before trying to save
    if 'df_features_scaled' in locals() and df_features_scaled is not None:
        # Save the scaled features
        df_features_scaled.to_csv(scaled_features_filepath, index=False)
        print(f"Scaled features saved successfully to {scaled_features_filepath}")
    else:
        print(f"Error: DataFrame 'df_features_scaled' not found. Cannot save.")

    if 'df_metadata' in locals() and df_metadata is not None:
         # Save the metadata
        df_metadata.to_csv(metadata_filepath, index=False)
        print(f"Metadata saved successfully to {metadata_filepath}")
    else:
         print(f"Error: DataFrame 'df_metadata' not found. Cannot save.")

except Exception as e:
    print(f"An error occurred while saving the files: {e}")

Scaled features saved successfully to HR_features_scaled.csv
Metadata saved successfully to HR_metadata.csv